+b.faq
	+e.wrap.wrap
		+e.H2.title.h2 Вопросы и ответы
		+e.list.flex
			+e.column
				+e.item
					+e.item-head
						+e.h3.item-title.h3 Сколько составят судебные расходы?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.
				+e.item
					+e.item-head
						+e.h3.item-title.h3 Сколько составят судебные расходы?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.
				+e.item
					+e.item-head
						+e.h3.item-title.h3 Что делать, если супруг/супруга не согласны на расторжение брака?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.
				+e.item
					+e.item-head
						+e.h3.item-title.h3 Какие требуются документы?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.
				+e.item
					+e.item-head
						+e.h3.item-title.h3 С кем останутся дети?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.
			+e.column
				+e.item
					+e.item-head
						+e.h3.item-title.h3 Какие требуются документы?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.
				+e.item
					+e.item-head
						+e.h3.item-title.h3 С кем останутся дети?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.
				+e.item
					+e.item-head
						+e.h3.item-title.h3 Сколько составят судебные расходы?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.
				+e.item
					+e.item-head
						+e.h3.item-title.h3 Сколько составят судебные расходы?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.
				+e.item
					+e.item-head
						+e.h3.item-title.h3 Что делать, если супруг/супруга не согласны на расторжение брака?
						+e.item-arrow
							+icon('down')
					+e.item-content
						p
							| Размер расходов определяется индивидуально в зависимости от разных факторов.
						p
							| По продукту «Оформление развода» следующие правила расчетов:
						p
							| В начале оплачивается сервисный сбор для пополнения личного кабинета в размере 1822 рубля. После оплаты сбора возможно узнать ориентировочную дату развода и подготовить дело к отправке.
						p
							| После того, как дело подготовлено к отправке выбирается и оплачивается тариф. К уже оплаченному сервисному сбору идёт доплата 2000 рублей (для тарифа «Скачать документ» или 3199 рублей (для тарифа «Подать документы онлайн»).
						p
							| Уважаемые клиенты средства внесённые в личный кабинет и зачисленные на баланс, не подлежат обратной конвертации. В случае не использования внесённых средств, они остаются на балансе и Вы можете ими воспользоваться в рамках других продуктов Портала.