+b.FOOTER.footer
	+e.wrap.wrap
		+e.desc.css-color-gray
			| 1. Исковое заявление — официальный документ, в котором гражданин просит у судебных органов защиты прав или помощи в остаивании своих интересов. Иск имеет свою особенную, определенную законодательную форму. Отступления от этой формы крайне нежелательны и могут привести к отказу от рассмотрения в суде. Базовые требования к исковым заявлениям и прилагаемым к ним документам указаны в статьях 
			a(href="#") 131 и 
			| 
			a(href="#") 132 
			| 
			| Гражданского процессуального кодекса РФ.
		+e.center
			+e.row.flex
				+e.column
					+e.H4.title.h4 Помощь и поддержка
					+e.UL.nav
						+e.LI.nav-item
							a(href="#") Раздел поддержки
						+e.LI.nav-item
							a(href="#") Контакты
						+e.LI.nav-item
							a(href="#") Информация для СМИ
				+e.column
					+e.H4.title.h4 Портал
					+e.UL.nav
						+e.LI.nav-item
							a(href="#") Лицензионное соглашение
						+e.LI.nav-item
							a(href="#") Политика конфиденциальности
				+e.column
					+e.H4.title.h4 Полезные ресурсы
					+e.UL.nav
						+e.LI.nav-item
							a(href="#") Государственные услуги
						+e.LI.nav-item
							a(href="#") Государственная система правовой информации
						+e.LI.nav-item
							a(href="#") Российская общественная инициатива
		+e.bottom
			+e.bottom-info.flex._vertical._center.css-color-gray
				+e.bottom-logo
					img(src="/app/img/logo_gray.svg")
				+e.bottom-text Интернет-портал составления исковых заявлений, 
					br
					| 2020 г.
			+e.copyright.css-color-gray Версия 18.223 &nbsp; | &nbsp; Copyright © 2020