+b.modals._form.mfp-hide#form1
	+b.login-form
		+e.title Для адвокатов
		+e.fields
			+e.field.field__
				+e.INPUT.input(name="login", type="text", placeholder="Введите email")
				+e.icon-user
					+icon('user')
			+e.field.field__
				+e.INPUT.input(name="login", type="password", placeholder="Введите пароль")
				+e.icon-lock
					+icon('lock')
		+e.bottom.flex._right
			+e.BUTTON.btn._back.btn__._blue._middle(type="submit")
				+e.text Войти
				+e.icon
					+icon('arrowRight')
+b.modals._form.mfp-hide#form2
	+b.login-form
		+e.title Для адвокатов
		+e.fields
			+e.field.field__.is-error
				+e.INPUT.input(name="login", type="text", placeholder="Введите email", value="service.google@gmail.com")
				+e.icon-user
					+icon('user')
			+e.field.field__.is-error
				+e.INPUT.input(name="login", type="password", placeholder="Введите email", value="sdcvds")
				+e.icon-lock
					+icon('lock')
		+e.error.css-color-red Неверный логин или пароль
		+e.bottom.flex._right
			+e.BUTTON.btn._back.btn__._blue._middle.is-disabled(type="submit")
				+e.text Войти
				+e.icon
					+icon('arrowRight')
+b.modals._form.mfp-hide#form3
	+b.login-form
		+e.title Для судей
		+e.fields
			+e.field.field__
				+e.INPUT.input(name="login", type="text", placeholder="Введите email")
				+e.icon-user
					+icon('user')
			+e.field.field__
				+e.INPUT.input(name="login", type="password", placeholder="Введите пароль")
				+e.icon-lock
					+icon('lock')
		+e.bottom.flex._right
			+e.BUTTON.btn._back.btn__._blue._middle(type="submit")
				+e.text Войти
				+e.icon
					+icon('arrowRight')