+b.modals._location.mfp-hide#location
	+e.location.location__
		+e.H2.title.h2 Ваше местоположение
		+e.desc.p
			| От выбора местоположения зависит набор услуг, доступный для получения на портале.
		+e.box
			+e.H3.box-title.h3 Выберите страну:
			+e.LABEL.radio.radio__
				+e.INPUT.input.js-state(type="radio", name="state")
				+e.icon
				+e.text Российская Федерация
		+e.box
			+e.H3.box-title.h3 Выбрать регион:
			+e.row.flex
				+e.LABEL.radio.radio__
					+e.INPUT.input.js-auto(type="radio", name="city")
					+e.icon
					+e.text Определить автоматически
				+e.LABEL.radio.radio__
					+e.INPUT.input.js-city(type="radio", name="city")
					+e.icon
					+e.text Выбрать вручную
		+e.field.field__
			+e.INPUT.input(name="city", type="text", placeholder="Название населенного пункта")
			+e.icon-location
				+icon('location')
		+btn(class="_blue _middle is-disabled") Сохранить